

<div class="container-fluid">

	<h1>
		Admin
	</h1>

	<div class="table-responsive">
  		<table class="table table-bordered table-striped">
    
			<tr>
				<th style="width:10%">División</th>
				<th style="width:18%">Equipo</th>
				<th style="width:15%">Ciudad</th>
				<!--
				<th style="width:23%">Estadio</th>
				<th style="width:9%">Fundado</th>
				<th style="width:9%">Entró en la NFL</th>
				<th style="width:16%">Entrenador actual</th>
				-->
			</tr>

			<tr>
				<th style="background-color:red" colspan="3"><a href="/wiki/American_Football_Conference" title="American Football Conference" class="mw-redirect"><font color="white">American Football Conference</font></a></th>
			</tr>

			<tr>
				<th style="background:white" rowspan="4"><a href="/wiki/AFC_Este" title="AFC Este">Este</a></th>
				<td><b><a href="/wiki/Buffalo_Bills" title="Buffalo Bills">Buffalo Bills</a></b></td>
				<td><a href="/wiki/Orchard_Park_(Nueva_York)" title="Orchard Park (Nueva York)">Orchard Park</a>, <a href="/wiki/Nueva_York_(estado)" title="Nueva York (estado)">NY</a><sup>2</sup></td>
				<!--
				<td><a href="/wiki/Ralph_Wilson_Stadium" title="Ralph Wilson Stadium" class="mw-redirect">Ralph Wilson Stadium</a><sup>2</sup></td>
				<td align="center">1959</td>
				<td align="center">1970</td>
				<td>Rex Ryan</td>
				-->
			</tr>

			<tr>
				<td><b><a href="/wiki/Miami_Dolphins" title="Miami Dolphins">Miami Dolphins</a></b></td>
				<td><a href="/wiki/Miami_Gardens" title="Miami Gardens">Miami Gardens</a>, <a href="/wiki/Florida" title="Florida">FL</a></td>

			</tr>

			<tr>
				<td><b><a href="/wiki/New_England_Patriots" title="New England Patriots">New England Patriots</a></b></td>
				<td><a href="/wiki/Foxborough,_Massachusetts" title="Foxborough, Massachusetts" class="mw-redirect">Foxborough</a>, <a href="/wiki/Massachusetts" title="Massachusetts">MA</a></td>
	
			</tr>

			<tr>
				<td><b><a href="/wiki/New_York_Jets" title="New York Jets">New York Jets</a></b></td>
				<td><a href="/wiki/East_Rutherford" title="East Rutherford">East Rutherford</a>, <a href="/wiki/Nueva_Jersey" title="Nueva Jersey">NJ</a></td>

			</tr>

			<tr>
				<th style="background:white" rowspan="4"><a href="/wiki/AFC_Norte" title="AFC Norte">Norte</a></th>
				<td><b><a href="/wiki/Baltimore_Ravens" title="Baltimore Ravens">Baltimore Ravens</a></b></td>
				
				<td><a href="/wiki/Baltimore" title="Baltimore">Baltimore</a>, <a href="/wiki/Maryland" title="Maryland">MD</a></td>				
				
			</tr>

			<tr>
				<td><b><a href="/wiki/Cincinnati_Bengals" title="Cincinnati Bengals">Cincinnati Bengals</a></b></td>
				<td><a href="/wiki/Cincinnati" title="Cincinnati">Cincinnati</a>, <a href="/wiki/Ohio" title="Ohio">OH</a></td>

				<!--
				<td><a href="/wiki/Paul_Brown_Stadium" title="Paul Brown Stadium" class="mw-redirect">Paul Brown Stadium</a></td>
				<td align="center">1968</td>
				<td align="center">1970</td>
				<td>Marvin Lewis</td>
				-->
			</tr>

			<tr>
			<td><b><a href="/wiki/Cleveland_Browns" title="Cleveland Browns">Cleveland Browns</a></b></td>
			<td><a href="/wiki/Cleveland" title="Cleveland">Cleveland</a>, <a href="/wiki/Ohio" title="Ohio">OH</a></td>
			
			</tr>

			<tr>
				<td><b><a href="/wiki/Pittsburgh_Steelers" title="Pittsburgh Steelers">Pittsburgh Steelers</a></b></td>
				<td><a href="/wiki/Pittsburgh" title="Pittsburgh">Pittsburgh</a>, <a href="/wiki/Pensilvania" title="Pensilvania">PA</a></td>
			</tr>

			<tr>
			<th style="background:white" rowspan="4"><a href="/wiki/AFC_Sur" title="AFC Sur">Sur</a></th>
			<td><b><a href="/wiki/Houston_Texans" title="Houston Texans">Houston Texans</a></b></td>
			<td><a href="/wiki/Houston" title="Houston">Houston</a>, <a href="/wiki/Texas" title="Texas">TX</a></td>

			</tr>

			<tr>
			<td><b><a href="/wiki/Indianapolis_Colts" title="Indianapolis Colts">Indianapolis Colts</a>*</b></td>
			<td><a href="/wiki/Indian%C3%A1polis" title="Indianápolis">Indianápolis</a>, <a href="/wiki/Indiana" title="Indiana">IN</a></td>
			<td><a href="/wiki/Lucas_Oil_Stadium" title="Lucas Oil Stadium">Lucas Oil Stadium</a></td>
			<td colspan="2" align="center">1953</td>
			<td>Chuck Pagano</td>
			</tr>
			<tr>
			<td><b><a href="/wiki/Jacksonville_Jaguars" title="Jacksonville Jaguars">Jacksonville Jaguars</a></b></td>
			<td><a href="/wiki/Jacksonville_(Florida)" title="Jacksonville (Florida)">Jacksonville</a>, <a href="/wiki/Florida" title="Florida">FL</a></td>
			<td><a href="/wiki/EverBank_Field" title="EverBank Field">EverBank Field</a></td>
			<td colspan="2" align="center">1995</td>
			<td>Gus Bradley</td>
			</tr>
			<tr>
			<td><b><a href="/wiki/Tennessee_Titans" title="Tennessee Titans">Tennessee Titans</a>*</b></td>
			<td><a href="/wiki/Nashville" title="Nashville">Nashville</a>, <a href="/wiki/Tennessee" title="Tennessee">TN</a></td>
			<td><a href="/wiki/LP_Field" title="LP Field">LP Field</a></td>
			<td align="center">1960</td>
			<td align="center">1970</td>
			<td>Ken Whisenhunt</td>
			</tr>
			<tr>
			<th style="background:white" rowspan="4"><a href="/wiki/AFC_Oeste" title="AFC Oeste">Oeste</a></th>
			<td><b><a href="/wiki/Denver_Broncos" title="Denver Broncos">Denver Broncos</a></b></td>
			<td><a href="/wiki/Denver" title="Denver">Denver</a>, <a href="/wiki/Colorado" title="Colorado">CO</a></td>
			<td><a href="/wiki/INVESCO_Field_at_Mile_High" title="INVESCO Field at Mile High" class="mw-redirect">Sports Authority Field at Mile High</a></td>
			<td align="center">1960</td>
			<td align="center">1970</td>
			<td>Gary Kubiak</td>
			</tr>
			<tr>
			<td><b><a href="/wiki/Kansas_City_Chiefs" title="Kansas City Chiefs">Kansas City Chiefs</a>*</b></td>
			<td><a href="/wiki/Kansas_City_(Misuri)" title="Kansas City (Misuri)">Kansas City</a>, <a href="/wiki/Misuri" title="Misuri">MO</a></td>
			<td><a href="/wiki/Arrowhead_Stadium" title="Arrowhead Stadium">Arrowhead Stadium</a><sup>3</sup></td>
			<td align="center">1960</td>
			<td align="center">1970</td>
			<td>Andy Reid</td>
			</tr>
			<tr>
			<td><b><a href="/wiki/Oakland_Raiders" title="Oakland Raiders">Oakland Raiders</a>*</b></td>
			<td><a href="/wiki/Oakland_(California)" title="Oakland (California)">Oakland</a>, <a href="/wiki/California" title="California">CA</a></td>
			<td><a href="/wiki/O.co_Coliseum" title="O.co Coliseum">O.co Coliseum</a></td>
			<td align="center">1960</td>
			<td align="center">1970</td>
			<td>Jack Del Rio</td>
			</tr>
			<tr>
			<td><b><a href="/wiki/San_Diego_Chargers" title="San Diego Chargers">San Diego Chargers</a>*</b></td>
			<td><a href="/wiki/San_Diego_(California)" title="San Diego (California)">San Diego</a>, <a href="/wiki/California" title="California">CA</a></td>
			<td><a href="/wiki/Qualcomm_Stadium" title="Qualcomm Stadium" class="mw-redirect">Qualcomm Stadium</a></td>
			<td align="center">1960</td>
			<td align="center">1970</td>
			<td>Mike McCoy</td>
			</tr>
			<tr>
			<th style="background-color:navy" colspan="7"><a href="/wiki/National_Football_Conference" title="National Football Conference" class="mw-redirect"><font color="white">National Football Conference</font></a></th>
			</tr>
			<tr>
			<th style="background:white" rowspan="4"><a href="/wiki/NFC_Este" title="NFC Este">Este</a></th>
			<td><b><a href="/wiki/Dallas_Cowboys" title="Dallas Cowboys">Dallas Cowboys</a></b></td>
			<td><a href="/wiki/Arlington,_Texas" title="Arlington, Texas" class="mw-redirect">Arlington</a>, <a href="/wiki/Arlington_(Texas)" title="Arlington (Texas)">TX</a></td>
			<td><a href="/wiki/AT%26T_Stadium" title="AT&amp;T Stadium">AT&amp;T Stadium</a></td>
			<td colspan="2" align="center">1960</td>
			<td>Jason Garrett</td>
			</tr>
			<tr>
			<td><b><a href="/wiki/New_York_Giants" title="New York Giants">New York Giants</a></b></td>
			<td><a href="/wiki/East_Rutherford,_New_Jersey" title="East Rutherford, New Jersey" class="mw-redirect">East Rutherford</a>, <a href="/wiki/New_Jersey" title="New Jersey" class="mw-redirect">NJ</a></td>
			<td><a href="/wiki/MetLife_Stadium" title="MetLife Stadium">MetLife Stadium</a></td>
			<td colspan="2" align="center">1925</td>
			<td>Tom Coughlin</td>
			</tr>
			<tr>
			<td><b><a href="/wiki/Philadelphia_Eagles" title="Philadelphia Eagles">Philadelphia Eagles</a></b></td>
			<td><a href="/wiki/Filadelfia" title="Filadelfia">Filadelfia</a>, <a href="/wiki/Pensilvania" title="Pensilvania">PA</a></td>
			<td><a href="/wiki/Lincoln_Financial_Field" title="Lincoln Financial Field">Lincoln Financial Field</a></td>
			<td colspan="2" align="center">1933</td>
			<td>Chip Kelly</td>
			</tr>
			<tr>
			<td><b><a href="/wiki/Washington_Redskins" title="Washington Redskins">Washington Redskins</a>*</b></td>
			<td><a href="/wiki/Landover_(Maryland)" title="Landover (Maryland)">Landover</a>, <a href="/wiki/Maryland" title="Maryland">MD</a></td>
			<td><a href="/wiki/FedExField" title="FedExField">FedExField</a></td>
			<td colspan="2" align="center">1932</td>
			<td>Jay Gruden</td>
			</tr>
			<tr>
			<th style="background:white" rowspan="4"><a href="/wiki/NFC_Norte" title="NFC Norte">Norte</a></th>
			<td><b><a href="/wiki/Chicago_Bears" title="Chicago Bears">Chicago Bears</a>*</b></td>
			<td><a href="/wiki/Chicago" title="Chicago">Chicago</a>, <a href="/wiki/Illinois" title="Illinois">IL</a></td>
			<td><a href="/wiki/Soldier_Field" title="Soldier Field">Soldier Field</a></td>
			<td align="center">1919</td>
			<td align="center">1920</td>
			<td>John Fox</td>
			</tr>
			<tr>
			<td><b><a href="/wiki/Detroit_Lions" title="Detroit Lions">Detroit Lions</a>*</b></td>
			<td><a href="/wiki/Detroit" title="Detroit">Detroit</a>, <a href="/wiki/M%C3%ADchigan" title="Míchigan">MI</a></td>
			<td><a href="/wiki/Ford_Field" title="Ford Field">Ford Field</a></td>
			<td align="center">1929</td>
			<td align="center">1930</td>
			<td>Jim Caldwell</td>
			</tr>
			<tr>
			<td><b><a href="/wiki/Green_Bay_Packers" title="Green Bay Packers">Green Bay Packers</a></b></td>
			<td><a href="/wiki/Green_Bay,_Wisconsin" title="Green Bay, Wisconsin" class="mw-redirect">Green Bay</a>, <a href="/wiki/Wisconsin" title="Wisconsin">WI</a></td>
			<td><a href="/wiki/Lambeau_Field" title="Lambeau Field">Lambeau Field</a></td>
			<td align="center">1919</td>
			<td align="center">1921</td>
			<td>Mike McCarthy</td>
			</tr>
			<tr>
			<td><b><a href="/wiki/Minnesota_Vikings" title="Minnesota Vikings">Minnesota Vikings</a></b></td>
			<td><a href="/wiki/Minneapolis" title="Minneapolis">Minneapolis</a>, <a href="/wiki/Minnesota" title="Minnesota">MN</a></td>
			<td><a href="/w/index.php?title=TCF_Bank_Stadium&amp;action=edit&amp;redlink=1" class="new" title="TCF Bank Stadium (aún no redactado)">TCF Bank Stadium</a><sup>4</sup></td>
			<td colspan="2" align="center">1961</td>
			<td>Mike Zimmer</td>
			</tr>
			<tr>
			<th style="background:white" rowspan="4"><a href="/wiki/NFC_Sur" title="NFC Sur">Sur</a></th>
			<td><b><a href="/wiki/Atlanta_Falcons" title="Atlanta Falcons">Atlanta Falcons</a></b></td>
			<td><a href="/wiki/Atlanta" title="Atlanta">Atlanta</a>, <a href="/wiki/Georgia_(Estados_Unidos)" title="Georgia (Estados Unidos)">GA</a></td>
			<td><a href="/wiki/Georgia_Dome" title="Georgia Dome">Georgia Dome</a></td>
			<td colspan="2" align="center">1966</td>
			<td>Dan Quinn</td>
			</tr>
			<tr>
			<td><b><a href="/wiki/Carolina_Panthers" title="Carolina Panthers">Carolina Panthers</a></b></td>
			<td><a href="/wiki/Charlotte_(Carolina_del_Norte)" title="Charlotte (Carolina del Norte)" class="mw-redirect">Charlotte</a>, <a href="/wiki/Carolina_del_Norte" title="Carolina del Norte">Carolina del Norte</a></td>
			<td><a href="/wiki/Bank_of_America_Stadium" title="Bank of America Stadium">Bank of America Stadium</a></td>
			<td colspan="2" align="center">1995</td>
			<td>Ron Rivera</td>
			</tr>
			<tr>
			<td><b><a href="/wiki/New_Orleans_Saints" title="New Orleans Saints">New Orleans Saints</a></b></td>
			<td><a href="/wiki/Nueva_Orleans" title="Nueva Orleans">Nueva Orleans</a>, <a href="/wiki/Luisiana" title="Luisiana">LA</a></td>
			<td><a href="/wiki/Louisiana_Superdome" title="Louisiana Superdome" class="mw-redirect">Louisiana Superdome</a></td>
			<td colspan="2" align="center">1967</td>
			<td>Sean Payton</td>
			</tr>
			<tr>
			<td><b><a href="/wiki/Tampa_Bay_Buccaneers" title="Tampa Bay Buccaneers">Tampa Bay Buccaneers</a></b></td>
			<td><a href="/wiki/Tampa_(Florida)" title="Tampa (Florida)" class="mw-redirect">Tampa</a>, <a href="/wiki/Florida" title="Florida">FL</a></td>
			<td><a href="/wiki/Raymond_James_Stadium" title="Raymond James Stadium">Raymond James Stadium</a></td>
			<td colspan="2" align="center">1976</td>
			<td>Lovie Smith</td>
			</tr>
			<tr>
			<th style="background:white" rowspan="4"><a href="/wiki/NFC_Oeste" title="NFC Oeste">Oeste</a></th>
			<td><b><a href="/wiki/Arizona_Cardinals" title="Arizona Cardinals">Arizona Cardinals</a>*</b></td>
			<td><a href="/wiki/Glendale,_Arizona" title="Glendale, Arizona" class="mw-redirect">Glendale</a>, <a href="/wiki/Arizona" title="Arizona">AZ</a></td>
			<td><a href="/wiki/University_of_Phoenix_Stadium" title="University of Phoenix Stadium" class="mw-redirect">University of Phoenix Stadium</a></td>
			<td align="center">1898</td>
			<td align="center">1920</td>
			<td>Bruce Arians</td>
			</tr>
			<tr>
			<td><b><a href="/wiki/St._Louis_Rams" title="St. Louis Rams">St. Louis Rams</a>*</b></td>
			<td><a href="/wiki/San_Luis_(Misuri)" title="San Luis (Misuri)">St. Louis</a>, <a href="/wiki/Misuri" title="Misuri">MO</a></td>
			<td><a href="/wiki/Edward_Jones_Dome" title="Edward Jones Dome">Edward Jones Dome</a></td>
			<td align="center">1936</td>
			<td align="center">1937</td>
			<td>Jeff Fisher</td>
			</tr>
			<tr>
			<td><b><a href="/wiki/San_Francisco_49ers" title="San Francisco 49ers">San Francisco 49ers</a></b></td>
			<td><a href="/wiki/Santa_Clara_(California)" title="Santa Clara (California)">Santa Clara</a>, <a href="/wiki/California" title="California">CA</a></td>
			<td><a href="/wiki/Levi%27s_Stadium" title="Levi's Stadium">Levi's Stadium</a></td>
			<td align="center">1946</td>
			<td align="center">1950</td>
			<td>Jim Tomsula</td>
			</tr>
			<tr>
			<td><b><a href="/wiki/Seattle_Seahawks" title="Seattle Seahawks">Seattle Seahawks</a></b></td>
			<td><a href="/wiki/Seattle" title="Seattle">Seattle</a>, <a href="/wiki/Washington_(estado)" title="Washington (estado)">WA</a></td>
			<td><a href="/wiki/CenturyLink_Field" title="CenturyLink Field">CenturyLink Field</a></td>
			<td colspan="2" align="center">1976</td>
			<td>Pete Carroll</td>
			</tr>


  		</table>
	</div>


</div>