


<div class="container-fluid">

	<h1>
		Quiniela
	</h1>

  <h3>
    Semana:
  </h3>  

<div class="panel panel-default">
  <div class="panel-body">

<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">1</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">2</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">3</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">4</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">5</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">6</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">7</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">8</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">9</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">10</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">11</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">12</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">13</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">14</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">15</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">16</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">17</button>
  </div>  
</div>

</div>
</div>

	<div class="table-responsive">
  		<table class="table table-bordered table-striped">

        <thead>
          <tr>
            <th>#</th>
            <th>Visitante</th>
            <th>Local</th>
            <th>Marcador Mayor</th>
            <th>Marcador Menor</th>
            <th>Lunes</th>
            <th>Segundo Marcador</th>
          </tr>
        </thead>

        <tbody>
    			<tr ng-repeat="doc in documentos">

    				<td>
    					{{ doc.id }}
    				</td>		
      
      			<td>
      				{{ doc.nombre }}
      			</td>		

      			<td>
      				{{ doc.nombre }}
      			</td>

      			<td>
      				{{ doc.nombre }}
      			</td>

      			<td>
      				{{ doc.nombre }}
      			</td>
      		<tr>
        <tbody>


        <tfoot>
          <tr>
            <th>#</th>
            <th>Visitante</th>
            <th>Local</th>
            <th>Marcador Mayor</th>
            <th>Marcador Menor</th>
            <th>Lunes</th>
            <th>Segundo Marcador</th>
          </tr>
        </tfoot>


  		</table>
	</div>

</div>