

<div class="container-fluid">

	<h1>
		Usuarios
	</h1>

	<div class="table-responsive">
  		<table class="table table-bordered table-striped">

  			<tr ng-repeat="doc in documentos">

  				<td>
  					{{ doc.id }}
  				</td>		
    
    			<td>
    				{{ doc.firstname }}
    			</td>		

          <td>
            {{ doc.lastname }}
          </td> 

          <td>
            {{ doc.email }}
          </td>

          <td>
            {{ doc.confirmed }}
          </td>

          <td>
            <button type="button" class="btn btn-default btn-sm">Large button</button>
          </td>

          <td>
            <button type="button" class="btn btn-default btn-sm">Large button</button>
          </td>

          <td>
            <button type="button" class="btn btn-default btn-sm">Large button</button>
          </td>

          <td>
            <button type="button" class="btn btn-default btn-sm">Large button</button>
          </td>                    

    		<tr>

  		</table>
	</div>



</div>