<div class="col-md-6 col-md-offset-3">


	<form>

  	<div class="form-group">
    	<label for="exampleInputEmail1">Email</label>
    	<input type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="Enter email">
  	</div>

  	<div class="form-group">
    	<label for="exampleInputPassword1">Password</label>
    	<input type="password" class="form-control input-lg" id="exampleInputPassword1" placeholder="Password">
  	</div>

  	<!--
  	<div class="checkbox">
    	<label>
      	<input type="checkbox"> Check me out
    	</label>
  	</div>
  	-->

  	<button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>

	</form>

</div>

